@{
    ViewBag.Title = "Dashboard";
}
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle">Dashboard</h1>
        </div>
        <div class="col-sm-5">

        </div>
    </div>
</section>
<!-- start: FEATURED BOX LINKS -->

<div class="row">
    <div style="display:table; width:100%; text-align: center;">
        <div style="height:445px; display:table-cell; vertical-align:middle; font-size:50px;opacity:0.3">
            Welcome !!!
        </div>
    </div>
</div>
