@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <p>Use this area to provide additional information.</p>
        </div>
    </div>