@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="staticContent">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
            <h1 class="page-header">About </h1>
            <p class="lead">Use this area to provide additional information.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in mi a lorem dapibus mollis semper in metus. Nam a elit purus. Mauris nec odio ultricies, bibendum odio nec, hendrerit metus. Sed venenatis dui diam, in congue augue aliquam id. Donec eros nisl, rutrum ac dictum vel, malesuada a nulla. Cras non scelerisque tortor. Proin tortor odio, ornare vitae ornare eu, convallis in metus. Suspendisse a nibh vel dolor mattis consequat. Curabitur laoreet libero a purus sollicitudin lobortis. Mauris mi orci, blandit a scelerisque eleifend, maximus imperdiet arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ex ante, varius non sollicitudin nec, rutrum in eros. Ut elementum leo vitae lectus accumsan imperdiet a in quam. Vestibulum feugiat mattis libero vel porta. Curabitur ultricies ante non pharetra venenatis.
            </p>
            <p>
                Cras ut pharetra diam. Vivamus ac libero nisl. Ut eget massa ut leo suscipit rutrum. Pellentesque pretium neque a aliquet tincidunt. Nulla facilisi. Etiam tortor ligula, aliquet vitae risus non, iaculis suscipit velit. Ut rutrum laoreet massa non convallis. Quisque sit amet diam neque. Praesent non ultricies elit. Nam quis varius nunc, at elementum metus. Suspendisse luctus mi tortor, vitae pellentesque nulla tempus sagittis. Praesent dolor metus, congue nec blandit sed, blandit in tortor. Etiam fringilla euismod mauris at tincidunt. Quisque sit amet ornare ante. Cras non justo rhoncus ligula aliquam semper sed ut metus.
            </p>
            <p>
                Duis et risus rutrum erat finibus congue eget sed diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque accumsan, magna id rutrum efficitur, nunc lorem malesuada diam, non egestas metus massa id dui. Cras facilisis euismod semper. Ut id orci vel quam vulputate porttitor. Phasellus ut tincidunt tellus. Suspendisse vitae luctus lorem, id mollis leo. Mauris sollicitudin finibus auctor.
            </p>
            <p>
                Nam ut finibus libero. Mauris euismod vehicula urna, sit amet pretium felis dapibus at. Etiam eget nisi mollis, elementum justo pretium, lacinia sapien. Nulla fringilla turpis orci, quis feugiat arcu convallis eget. Duis tincidunt nisi a finibus hendrerit. Fusce viverra tortor mi, sed viverra augue rutrum vitae. Integer sed quam libero. Ut semper volutpat nisi, quis pulvinar orci. Nam rhoncus nisi vitae massa efficitur, sed tristique enim lacinia. Donec mattis velit eros, eget viverra lacus pulvinar non. Cras nec porttitor nunc. Fusce convallis augue in ligula viverra, vitae facilisis odio suscipit. Curabitur lobortis facilisis nunc, sed mollis dui elementum vel. Cras turpis tellus, gravida sed orci sed, hendrerit sollicitudin tortor.
            </p>
            <p>
                Curabitur turpis lacus, vulputate ac varius non, dapibus nec arcu. Aenean risus lectus, dignissim id leo in, malesuada tempor arcu. Aliquam imperdiet fermentum gravida. Integer auctor malesuada pellentesque. Nulla quis viverra dui. Nam sapien massa, congue aliquet leo in, imperdiet interdum diam. Sed ut laoreet nibh. Nam gravida commodo fermentum. Aenean ultricies ornare risus, id fringilla lorem viverra eu.
            </p>
        </div>
    </div>
</div>